/* 1. Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Variables y estilos generales */
:root {
  font-family: 'Roboto Condensed', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. Estilo de body */
body {
  min-width: 320px;
  /* Quita el min-height si no lo necesitas */
  /* min-height: 100vh; */
}


/* 6. Tema claro (opcional si usas prefers-color-scheme) */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
